.container {
  max-width: 900px;
  text-align: center;

  .title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    .discotitle {
      cursor: pointer;
      position: relative;
      mix-blend-mode: difference;
    }

    .divider {
      cursor: default;
    }
  }
}
